{% extends "scores/layout.html" %} 
{% block scores_info %}
<table width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
        <td width="100%" valign="top" style="padding-top: 10px">
            <div class="smallheader" style="color: rgb(255, 255, 255)">
            Classificação
            </div>
            <br />
            <div class="box_container">
            <table cellspacing="0" cellpadding="0" style="background-color: rgba(255, 255, 255, 1);">
                <thead>
                <tr>
                    <th width="5%"></th>
                    <th class="text"></th>
                    <th width="12%" class="not_optional" name="Pontos">Pontos</th>
                    <th width="12%" class="optional">Presenças</th>
                    <th width="12%" class="not_optional" name="Golos">Golos</th>
                    <th width="12%" class="optional">% Presenças</th>
                    <th width="6%">V</th>
                    <th width="6%" class="optional">E</th>
                    <th width="6%">D</th>
                    <th width="6%" class="optional">GM</th>
                    <th width="6%" class="optional">GS</th>
                    <th width="6%" class="optional">DG</th>
                    <th width="6%" class="optional"></th>
                </tr>
                </thead>
                <tbody>
                {% for name in table_values.keys() %}
                {% if (table_values[name]["place"] == 1) %}
                <tr style="background-color: rgba(0, 88, 252, 0.308)">
                {% elif (table_values[name]["place"] == 12) %}
                <tr style="background-color: rgba(255, 0, 0, 0.288)">
                {% elif (table_values[name]["place"] < 7) %}
                <tr style="background-color: rgba(0, 153, 255, 0.2)">
                {% else %}
                <tr style="background-color: rgba(228, 120, 120, 0.2)">
                {% endif %}
                    <td style="">{{table_values[name]["place"]}}</td>
                    <td class="text" style="">
                        <a>
                            <form action="{{ url_for('players.general', player_name = name , edition_name = edition.name )}}">
                                <button type="submit" id="player_name" class="discret_button">
                                    {{ name }}
                                </button>
                            </form>
                        </a>
                    </td>
                    <td><strong>{{table_values[name]["points"]}}</strong></td>
                    <td class="optional">{{table_values[name]["appearances"]}}</td>
                    <td>{{table_values[name]["goals"]}}</td>
                    <td class="optional">{{table_values[name]["percentage of appearances"]}}</td>
                    <td>{{table_values[name]["wins"]}}</td>
                    <td class="optional">{{table_values[name]["draws"]}}</td>
                    <td>{{table_values[name]["losts"]}}</td>
                    <td class="optional">{{table_values[name]["goals scored by team"]}}</td>
                    <td class="optional">{{table_values[name]["goals suffered by team"]}}</td>
                    <td class="optional">
                    {{table_values[name]["goals scored by team"] -
                    table_values[name]["goals suffered by team"]}}
                    </td>
                    <!-- Para por a setinha a dizer se subiu ou desceu -->
                    <td class="optional"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </td>
        </tr>
    </tbody>
</table>

<br />
<table>
    <tbody>
        <tr>
            <td><div class="square_primeiro"></div></td>
            <td>
                <div style="text-align: left; color: rgb(255, 255, 255)">
                &#160;Primeiro lugar
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="square_vitoria"></div></td>
            <td>
                <div style="text-align: left; color: rgb(255, 255, 255)">
                &#160;Recebe uma magnífica Francesinha
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="square_derrota"></div></td>
            <td>
                <div style="text-align: left; color: rgb(255, 255, 255)">
                &#160;Paga uma Francesinha que se Fode
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="square_ultimo"></div></td>
            <td>
                <div style="text-align: left; color: rgb(255, 255, 255)">
                &#160;João Magalhães
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% if edition.final_game %}
<div style="color: rgb(255, 255, 255)">
    ÚLTIMO JOGO E JANTAR DIA {{edition.final_game.strftime('%d/%m/%y')}}
</div>
{% endif %}
{% endblock %}
