{% extends "layout.html" %}
{% block main %}
<div class="table_container">
    <div style="background-color: rgb(255, 255, 255) !important">
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2" style="width: 100%;">
                    <li class="nav-item" style="width: 25%;"><a class="nav-link" href="{{ url_for('delete.game') }}">Jogo</a></li>
                    <li class="nav-item" style="width: 25%;"><a class="nav-link" href="{{ url_for('delete.player') }}">Jogador</a></li>
                    <li class="nav-item" style="width: 25%;"><a class="nav-link" href="{{ url_for('delete.edition') }}">Edição</a></li>
                </ul>
            </div>
        </nav>
    </div>
    {% block delete %}{% endblock %}
</div>
{% endblock %}
