{% extends "layout.html" %}
{% block main %}
<script src="{{ url_for('static', filename='players_layout.js')}}" defer></script>
<div class="table_container">
    <div style="background-color: rgb(255, 255, 255) !important">
        <div>
            <table class="table table-borderless" cellspacing="0" cellpadding="0" style="display: flex;">
                <tbody>
                    <div>
                        <tr>
                            <td rowspan="2">
                                <div class="image profile_picture">
                                    <img src="{{ player.image_url() }}">
                                </div>
                            </td>
                            <td colspan="3">
                                <h1 style="float: left;">
                                    <span class="id" style="color: rgb(0, 0, 0) !important;">
                                        {{player.id}}.
                                    </span>
                                    <span class="name" style="color: rgb(0, 0, 0) !important; font-weight: bold;">
                                        {{player.name}}
                                    </span>
                                </h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://pt.wikipedia.org/wiki/Portugal">
                                    <img class="tiny_flag_image" src="{{ url_for('static', filename='images/Bandeira-PT.png')}}" width="18" height="12" alt="Portugal" title="Portugal" style="vertical-align:middle;margin-top:0px;">
                                </a>
                            </td>
                            {% if player.full_name %}
                            <td class="optional">
                                <div class="text">
                                    &#8226; {{player.full_name}}
                                </div>
                            </td>
                            {% endif %}
                            {% if player.age() %}
                            <td>
                                <div class="text">
                                    &#8226; {{player.age()}} anos
                                </div>
                            </td>
                            {% endif %}
                            <td>
                                <div class="text">
                                    <a href="https://pt.wikipedia.org/wiki/Portugal">&#8226; Portugal</a>
                                </div>
                            </td>
                            <td class="optional">
                                <div class="text">
                                    &#8226; Futebol
                                </div>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#player_navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="player_navbar">
                <ul class="navbar-nav mr-auto mt-2" style="width: 100%;">
                    {% if edition is defined %}
                        <li class="nav-item" style="width: 33%;"><a class="nav-link" href="{{ url_for('players.general',player_name = player.name, edition_name=edition.name) }}">Página inicial</a></li>
                    {% else %}
                        <li class="nav-item" style="width: 33%;"><a class="nav-link" href="{{ url_for('players.general',player_name = player.name, edition_name=player.editions_relations[-1].edition.name) }}">Página inicial</a></li>
                    {% endif %}
                    <li class="nav-item" style="width: 33%;"><a class="nav-link" href="{{ url_for('players.games_played',player_name = player.name) }}">Jogos realizados</a></li>
                    <li class="nav-item" style="width: 34%;"><a class="nav-link" href="{{ url_for('players.all_editions', player_name = player.name) }}">Todas as épocas</a></li>
                </ul>
            </div>
        </nav>
    </div>
    {% block player_info %}{% endblock %}
</div>
{% endblock %}
