{% extends "create/layout.html" %}
{% block create %}
<script src="{{ url_for('static', filename='create_edition.js')}}" defer></script>
<form method="POST">
    <div class="form-group optional" >
        <label for='name' style="color: white;"> Nome </label>
        <input autocomplete="off" autofocus class="form-control" id="name" name="name" placeholder="Nome" type="text">
    </div>

    <div class="form-group optional" >
        <label for='time' style="color: white;"> Nome </label>
        <input autocomplete="off" autofocus class="form-control" id="time" name="time" placeholder="Horas (HH:mm)" type="text">
    </div>

    <div class="form-group optional" >
        <label for='final_game' style="color: white;"> Jogo Final </label>
        <input autocomplete="off" autofocus class="form-control" id="final_game" name="final_game" type="date">
    </div>

    <div class="form-group">
        <label for='league' style="color: white;"> Liga </label>
        <select class="custom-select my-1 mr-sm-2" name="league" id="league" style="width: auto!important;">
            <option value=""></option>
            {% for league in leagues %}
                <option value="{{league.name}}"> {{league.name}} </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for='number_of_players' style="color: white;"> Número de Jogadores </label>
        <input autocomplete="off" autofocus class="form-control" id="number_of_players" name="number_of_players" placeholder="12" type="number" onchange="playerInputs(this)">
    </div>

    <div class="form-group" id="player_input" style="display: none;">
        <label for='player_' style="color: white;"> Jogador </label>
        <select class="custom-select my-1 mr-sm-2" onchange="ShowPlayerInputs()" name="player_" id="player_" style="width: auto!important;">
            <option value=""></option>
            {% for player in players %}
                <option value="{{player.name}}"> {{player.name}} </option>
            {% endfor %}
        </select>
    </div>

    <div id="player_inputs_container">

    </div>

    <button class="btn btn-primary" type="submit">Acrescentar Edição</button>
</form>
{% endblock %}
