{% extends "layout.html" %}
{% block main %}
<script src="{{ url_for('static', filename='create_game.js')}}" defer></script>
<form method="POST" action="{{url_for('create.game',edition_name=edition.name)}}">
    <div class="game_container">
    
        {% set field_image = url_for('static', filename="images/Campo-Torrinha.jpg")%}
        <div class="game_info_container" style="background-image: linear-gradient(to top,rgba(2, 90, 61, 0.5) ,rgba(0,0,0,0.8)), url({{field_image}});color: white;">
            <div>
                <table class="table table-borderless" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr style="font-size: smaller;"> 
                            <td colspan="3">
                                {{edition.name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="results_container">
                <div class="team_logo_container">
                    <div class="image profile_picture">
                        <img src="{{ url_for('static', filename='images/Branquelas.png')}}">
                    </div>
                    <div class="team_name"> Branquelas </div>
                </div>
                <div class="game_result">
                    <div class="game_result_inputs">
                        <input type="number" name="goals_team1" class="goals_of_team_input"> 
                        - 
                        <input type="number" name="goals_team2" class="goals_of_team_input">
                    </div>
                </div>
                <div class="team_logo_container">
                    <div class="image profile_picture">
                        <img src="{{ url_for('static', filename='images/Maregões.png')}}">
                    </div>
                    <div class="team_name"> Maregões </div>
                </div>
            </div>
            <div class="results_container_small_screen">
                <div class="game_result">
                    <div class="game_result_inputs">
                        <input type="number" name="goals_team1" class="goals_of_team_input">
                        - 
                        <input type="number" name="goals_team2" class="goals_of_team_input">
                    </div>
                </div>
                <div class="teams_container">
                    <div class="team_logo_container">
                        <div class="image profile_picture">
                            <img src="{{ url_for('static', filename='images/Branquelas.png')}}">
                        </div>
                        <div class="team_name"> Branquelas </div>
                    </div>
                    <div class="team_logo_container">
                        <div class="image profile_picture">
                            <img src="{{ url_for('static', filename='images/Maregões.png')}}">
                        </div>
                        <div class="team_name"> Maregões </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="games_info">
            <br>
            <div class="smallheader" style="color: rgb(255, 255, 255)">
                Ficha do jogo
            </div>
            <div>
                <input type="date" name="game_date" value="{{default_day.strftime('%Y-%m-%d')}}">
            </div>
            <div class="box_container">
                <div class="line_up">
                    <div class="heading">
                        <span class="optional_description">Equipa</span><span class="optional_description_for_small_screen">Branquelas</span>
                    </div>
                    <table class="table table-striped table_line_up">
                        {% for player in players[:6]%}
                        <tr>
                            <td>{{player.id}}</td>
                            <td><img id="image_{{loop.index}}" class="table_profile_image" src="{{ player.full_image_url() }}"></td>
                            <td>
                                <select name="player_team_1" onchange="changePlayer('{{loop.index}}',this)">
                                    <option value="player_missing"> </option>
                                    {% for edition_player in edition_players %}
                                        {% if player==edition_player %}
                                        <option value="{{player.id}}" selected> {{player.name}} </option>
                                        {% else %}
                                        <option value="{{edition_player.id}}"> {{edition_player.name}} </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="number" id="goals_{{loop.index}}" name="goals_{{player.id}}" class="goals_of_player_input">
                                <img src="{{ url_for('static', filename='images/goal.png')}}" width="18" height="18">
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="line_up">
                    <div class="heading">
                        <span class="optional_description">Equipa</span><span class="optional_description_for_small_screen"> Maregões</span>
                    </div>
                    <table class="table table-striped table_line_up">
                        {% for player in players[6:]%}
                        <tr>
                            <td>{{player.id}}</td>
                            <td><img id="image_{{loop.index + 6 }}" class="table_profile_image" src="{{ player.full_image_url() }}"></td>
                            <td>
                                <select name="player_team_2" onchange="changePlayer('{{loop.index + 6}}',this)">
                                    <option value="player_missing"> </option>
                                    {% for edition_player in edition_players %}
                                        {% if player==edition_player %}
                                        <option value="{{player.id}}" selected> {{player.name}} </option>
                                        {% else %}
                                        <option value="{{edition_player.id}}"> {{edition_player.name}} </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="number" id="goals_{{loop.index + 6}}" name="goals_{{player.id}}" class="goals_of_player_input">
                                <img src="{{ url_for('static', filename='images/goal.png')}}" width="18" height="18">
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Criar</button>
</form>
{% endblock %}
