{% extends "layout.html" %}

{% block main %}

<script>
function MenuIconFunction(x) {
    x.classList.toggle("change");
}

/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function Drop_menu() {
  document.getElementById("Dropdown_Menu").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.menu_holder')) {
    var myDropdown = document.getElementById("Dropdown_Menu");
    if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
    }
}
}
</script>

<div id="page_header_container" style="background-color: rgb(255, 255, 255) !important;">
    <div id="page_header" class="zz-entity-header">
        <div class="top">
            <div class="zz-likeheader-wrapper">
                <div class="profile_picture" style="width:150px;height:160px;">
                    <div class="logo"><img alt="" title="" src="{{ user_image }}"  width="100" height="150"></div>
                </div>
            </div>
            <div class="factsheet">
                <h1 align="left" style="margin: 10px;">
                    <span class="name" style="color:rgb(7, 55, 187) !important;">
                        <span class="number" style="color:rgb(7, 55, 187) !important;">{{ jogador["Numero"] }}.</span> 
                        {{ jogador["Nome"] }} 
                    </span>
                </h1>
                <div>
                    <div style="color:rgb(7, 55, 187) !important; width: 30%;">
                        <div class="micrologo_and_text">
                            <div style="width: 40%;">
                                <a href="https://pt.wikipedia.org/wiki/Portugal"><span style="vertical-align: middle !important;height: 80%;"><img src="static/Bandeira-PT.png" alt="Portugal" title="Portugal"></span></a>
                            </div>
                            <div style="width: 55%;" class="text">Portugal</div>
                        </div>
                    </div>
                    <div class="info" style="color:rgb(7, 55, 187) !important; width: 50%; padding-left: 0%; text-align: left; ;">
                        &#160;{{jogador["Idade"]}} anos 
                    </div>
                    <div class="info" style="color:rgb(7, 55, 187) !important; width: 75%; padding-left: 0%; text-align: left; ;">
                        &#160;{{ jogador["Nome_Completo"] }}
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="datasheet">
                <div class="stats"></div>
            </div>
            <div class="entity_h2" style="background-color: rgb(42,66,133) !important">
                <div class="h2" style="color:rgb(255,255,255) !important;background-color: rgb(42,66,133) !important;border-top:0px !important;border-bottom:0px !important;">
                    <div class="menu_holder" align="left" id="0" style="color:rgb(255,255,255) !important;background-color: rgb(42,66,133) !important;border-top:0px !important;border-bottom:0px !important;" onmouseover="this.style.backgroundColor = rgb(42,66,133);" onclick="MenuIconFunction(this); Drop_menu()">
                        <div class="menu_centered_contained">
                            <span class="title" align="left">
                                <div class="menu_icon_container" onclick="MenuIconFunction(this)">
                                    <div class="bar1"></div>
                                    <div class="bar2"></div>
                                    <div class="bar3"></div>
                                </div>
                            </span>
                            <span class="title" id = "menu_name" align="left" style="vertical-align: middle;">menu</span>    
                        </div>
                    </div>
                    <div class="dropdown">
                        <div id="Dropdown_Menu" class="dropdown-content">
                            <a href="/" style="color:rgb(39,62,124) !important;">Página Inicial</a>
                            <a href="/" style="color:rgb(39,62,124) !important;">Página Inicial</a>
                            <a href="/" style="color:rgb(39,62,124) !important;">Página Inicial</a>
        <!--                     <ul style="color:rgb(39,62,124) !important;background-color: rgb(211,216,228) !important;">
                                <li class="button" style=" color:rgb(39,62,124) !important;background-color: rgb(233,235,241) !important;">
                                    <a href="/" style="color:rgb(39,62,124) !important;">Página Inicial</a>
                                </li>
                                <li class="button" style=" color:rgb(39,62,124) !important;background-color: rgb(233,235,241) !important;">
                                    <a href="/player_results.php?id=36533&amp;epoca_id=150" style="color:rgb(39,62,124) !important;">Jogos Realizados</a>
                                </li>
                                <li class="button" style=" color:rgb(39,62,124) !important;background-color: rgb(233,235,241) !important;">
                                    <a href="/player_seasons.php?id=36533" style="color:rgb(39,62,124) !important;">Época a Época</a>
                                </li>
                                <li class="button" style=" color:rgb(39,62,124) !important;background-color: rgb(233,235,241) !important;">
                                    <a href="/player_titles.php?id=36533" style="color:rgb(39,62,124) !important;">Títulos</a>
                                </li>
                                <li class="button" style=" color:rgb(39,62,124) !important;background-color: rgb(233,235,241) !important;">
                                    <a href="/player_awards.php?id=36533" style="color:rgb(39,62,124) !important;">Prémios</a>
                                </li>
                                <li class="button" style=" color:rgb(39,62,124) !important;background-color: rgb(233,235,241) !important;">
                                    <a href="/person_timeline.php?id=434646&amp;grp_hist=0&amp;view=1&amp;menu=crono" "="" style="color:rgb(39,62,124) !important;">História</a>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                    <span>
                        <a href="/player.php?id=36533" style="color:rgb(255,255,255) !important;">Página Inicial</a>
                    </span>
                    <span>
                        <a href="/player_news.php?jogador=36533" style="color:rgb(255,255,255) !important;">Notícias</a>
                    </span>
                    <span>
                        <a href="/player_results.php?id=36533&amp;epoca_id=150" style="color:rgb(255,255,255) !important;">Jogos Realizados</a>
                    </span>
                    <span>
                        <a href="/player_seasons.php?id=36533" style="color:rgb(255,255,255) !important;">Época a Época</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}