{% extends "layout.html" %}

{% block main %}
<div id="wrapper">
    <h2>Data: {{ jornada["data"]}} </h2>
</div>
<br>
<div id="wrapper" style="color:rgb(255, 255, 255);">
    <h1> Branquelas {{ jornada["golos_equipa1"]}} - {{ jornada["golos_equipa2"]}} Maregões </h1>
</div>
<br>
<div id="wrapper" style="color:rgb(255, 255, 255);">
    <div id="left">
        <div>
            {% for name in jornada["players1"].keys() %}
            <h3>
                {{ name }}
                {% if jornada["players1"][name] != 0 %}
                    {{jornada["players1"][name]}}
                {% endif %}
            </h3>
            {% endfor %}
        </div>
        <br>
    </div>
    <div id="right">
        <div>
            {% for name in jornada["players2"].keys() %}
                <h3>
                    {{ name }}
                    {% if jornada["players2"][name] != 0 %}
                        {{jornada["players2"][name]}}
                    {% endif %}
                </h3>
            {% endfor %}
        </div>
        <br>
    </div>
</div>

{% endblock %}
