{% extends "layout.html" %}

{% block main %}
<table class="table" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="100%" valign="top" style="padding-top:10px;">
                <div class="smallheader" style="color:#000;">Classificação</div>
                <br>
                <div id="edition_table" class="box_container">
                    <table cellspacing="0" cellpadding="0" class="zztable stats">
                        <thead></thead>
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th class="text"></th>
                                <th style=" width:30%">Golos</th>
                                <th style=" width:30%">Presenças</th>
                                <th style=" width:30%">Golos/Presença</th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(ordem|length) %}
                                    <td style="">{{ i + 1 }}</td>
                                    <td class="text" style="">{{campeonato[ordem[i]]["nome"]}}<span class="small_faded"></span></td>
                                    <td>{{campeonato[ordem[i]]["golos"]}}</td>
                                    <td>{{campeonato[ordem[i]]["presenças"]}}</td>
                                    <td>{{ (campeonato[ordem[i]]["golos"]/([campeonato[ordem[i]]["presenças"],1]|max))|round(2) }}</td>
                                    <!-- Para por a setinha a dizer se subiu ou desceu -->
                                    <td style=""></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
