{% extends "layout.html" %}

{% block main %}
{% if error != "" %}
    <h2> Havia pelo menos um jogador repetido numa das equipas</h2>
{% endif %}
{% if not session.user_id %}
    <div id="wrapper">
        Não podes aceder a esta página oh boi
    </div>
{%else%}
    <form action="/new_game" method="post">
        <div id="wrapper" style="color:rgb(255, 255, 255);">
            <div id="left">
                <h1>Branquelas</h1>
            </div>
            <div id="right">
                <h1>Maregões</h1>
            </div>
        </div>
        <br>
        <div id="wrapper">
            <h2>Resultado:</h2>
            <br>
            <div id="left">
                <input class="custom-select mr-sm-2" type="number" name="golos_equipa1" min="0" id="goals">
            </div>
            <div id="right">
                <input class="custom-select mr-sm-2" type="number" name="golos_equipa2" min="0" id="goals">
            </div>
        </div>
        <div id="wrapper">
            <h2>Data:</h2>
            <br>
            <input id="date" type="date" name="dia_do_jogo" data-date-format="DD MMMM YYYY" value="09-09-2020">
        </div>
        <br>
        <div id="wrapper">
            <h2>Equipas:</h2>
            <br>
            <div id="left">
                {% for i in range(6)%}
                    <div>
                        <select class="custom-select mr-sm-2" id="select_players" name="equipa1">
                            <option value=""></option>
                                {% for name in campeonato.keys() %}
                                    <option value="{{ name }}"> {{ name }}</option>
                                {% endfor %}
                                <input class="custom-select mr-sm-2" type="number" name="golos_players1" id="goals">
                        </select>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div id="right">
                {% for i in range(6)%}
                    <div>
                        <select class="custom-select mr-sm-2" id="select_players" name="equipa2">
                            <option value=""></option>
                                {% for name in campeonato.keys() %}
                                    <option value="{{ name }}"> {{ name }}</option>
                                {% endfor %}
                                <input class="custom-select mr-sm-2" type="number" name="golos_players2" id="goals">
                        </select>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Fazer Equipas</button>
    </form>
{% endif %}

{% endblock %}
