{% extends "layout_tocheiro.html" %}

{% block main %}
        {% if session.user_id %}
                <li class="nav-item"><a class="nav-link" href="/tocheiro">O nosso Tocheiro</a></li>
                <li class="nav-item active"><a class="nav-link" href="/tocheiro_lista_musicas">Lista de músicas</a></li>
                <li class="nav-item"><a class="nav-link" href="/tocheiro_acrescentar_musica">Acrescentar uma música</a></li>
                <li class="nav-item"><a class="nav-link" href="/tocheiro_fazer">Fazer o Meu Tocheiro</a></li>
                <li class="nav-item"><a class="nav-link" href="/tocheiro_download">Download</a></li>
        {% else %}
                <li class="nav-item"><a class="nav-link" href="/tocheiro">O nosso Tocheiro</a></li>
                <li class="nav-item active"><a class="nav-link" href="/tocheiro_lista_musicas">Lista de músicas</a></li>
                <li class="nav-item"><a class="nav-link" href="/tocheiro_fazer">Fazer o Meu Tocheiro</a></li>
                <li class="nav-item"><a class="nav-link" href="/tocheiro_download">Download</a></li>
        {% endif %}
{% endblock %}

{% block body_main %}
<div>
        <div class="container_tocheiro"><h4> Músicas do tocheiro: </h4></div>
        <br>
        <table class="table table-bordered" id="new_table">
                <col style="width:25%"/>
                <thead>
                        <th scope="col">Música</th>
                        <th scope="col">Momentos</th>
                </thead>
        {% for row_index in range(musicas_tocheiro|length) %}
                <tr>
                        <form action="/tocheiro_lista_musicas" method="POST"> 
                                <td>
                                        <div class="inside_table">
                                                <button id="music_titles" type="submit" name="titulo" value="{{ musicas_tocheiro[row_index][0] }}" style="outline: 0; background-color: transparent; border-color: transparent;">{{ musicas_tocheiro[row_index][0] }}</button>  
                                        </div>
                                </td>
                        </form>

                        <td>
                                <div class="inside_table">
                                        {{ musicas_tocheiro[row_index][1][0] }}
                                        {% for i in range(1 , musicas_tocheiro[row_index][1]|length) %}
                                                ,
                                                {{ musicas_tocheiro[row_index][1][i] }}
                                        {% endfor %}
                                </div>
                        </td>
                </tr>
        {% endfor %}
        </table>
        <br>

        {% if musicas_utilizador|length > 0 %}
        <div class="container_tocheiro"><h4> Minhas músicas: </h4></div>
                <br>
                <table class="table table-bordered" id="new_table">
                        <col style="width:25%"/>
                        <thead>
                                <th scope="col">Música</th>
                                <th scope="col">Momentos</th>
                        </thead>
                {% for row_index in range(musicas_utilizador|length) %}
                        <tr>
                                <form action="/tocheiro_lista_musicas" method="POST"> 
                                        <td>
                                                <div class="inside_table">
                                                        <button id="music_titles" type="submit" name="titulo" value="{{ musicas_utilizador[row_index][0] }}" style="outline: 0; background-color: transparent; border-color: transparent;">{{ musicas_utilizador[row_index][0] }}</button>  
                                                </div>
                                        </td>
                                </form>

                                <td>
                                        <div class="inside_table">
                                                {{ musicas_utilizador[row_index][1][0] }}
                                                {% for i in range(1 , musicas_utilizador[row_index][1]|length) %}
                                                        ,
                                                        {{ musicas_utilizador[row_index][1][i] }}
                                                {% endfor %}
                                        </div>
                                </td>
                        </tr>
                {% endfor %}
                </table>
        {% endif %}
</div>
{% endblock %}