{% extends 'layout.html' %}

{% block header %}
    <h1>{% block title %}Edit{% endblock %}</h1>
{% endblock %}

{% block main %}
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for='username' style="color: white;"> Username </label>
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="{{session['user'].username}}" type="text">
        </div>
        <div class="form-group">
            <label for='email' style="color: white;"> Email </label>
            <input autocomplete="off" autofocus class="form-control" id="email" name="email" placeholder="{{session['user'].email}}" type="email">
        </div>
        <div class="form-group">
            <label for='player' style="color: white;"> Jogador </label>
            <select class="custom-select my-1 mr-sm-2" onchange="ShowPlayerInputs()" name="player" id="player" style="width: auto!important;">
                {% if session['user'].player %}
                <option value="{{session['user'].player.id}}" selected> {{session['user'].player.name}} </option>
                {% else %}
                <option value=""></option>
                {% endif %}
                {% for player in available_players %}
                    <option value="{{player.id}}"> {{player.name}} </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group optional" style="display: none;">
            <label for='name' style="color: white;"> Nome completo </label>
            <input autocomplete="off" autofocus class="form-control" id="name" name="name" placeholder="Nome Completo" type="text">
        </div>
        <div class="form-group optional" style="display: none;">
            <label for='birth_date' style="color: white;"> Data de nascimento </label>
            <input autocomplete="off" autofocus class="form-control" id="birth_date" name="birth_date" type="date">
        </div>
        <div class="form-group optional" style="display: none;">
            <label for='picture' style="color: white;"> Fotografia </label>
            <input class="form-control" id="picture" name="picture" type="file" accept=".JPG,.jpg,.jpeg,.JPEG,.png,.PNG">
        </div>
        <button class="btn btn-primary" type="submit">Submeter</button>
    </form>
{% endblock %}